
@{
    ViewBag.Title = "FileUpload";
}

<h2>FileUpload</h2>

<form method="post" enctype="multipart/form-data" action="?ProgressTrackerRequestId=12314564642">
    <input name="myfile" type="file" />
    <input type="submit" />
</form>